.git
.github
.venv
venv
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.coverage
htmlcov
tests
data
models
mlruns
artifacts/models/*
!artifacts/models/ai4i-base1/
!artifacts/models/ai4i-base1/**
*.env
*.key
*.pem